body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none;
}

/* === HEADER === */
header{
    background: #ffc300;
    text-align: center;
    padding: 18px;
    display: block;
    position: sticky;
    top: 0;
}

header h1 span{
    color: white;
    font-weight: 700;
}

header h1{
    font-size: 32pt;
    font-weight: 600;
}

/* == Navbar == */

nav a{
    color: white;
    padding: 12px;
}

nav a:hover{
    background: white;
    color: #ffc300;
}

/* == Main Content == */
main{
    margin: 0 300px;
    padding: 10px;
}

/* Bloco de Notícia */
article{
    float: left;
    border: 1px solid blue;
}

/* Notícias */
section{
    padding: 1em;
    width: 700px;
    border: 1px solid pink;
}

section h2{
    display: inline;
}

/* Área Lateral de Links */
aside{
    float: left;
    border: 1px solid red;
    width: 500px;
    padding: 1em;
}

aside a{
    display: block;
}

aside h3{
    display: inline;
    color: #626167;
    background: #dedade;
    padding: 5px;
}

/* footer */
footer{
    background: #dedade;
    clear: both;
    text-align: center;
}