body{
	background: #d2d2c1 url('./imgs/fundo.png') repeat fixed;
	font-family: 16px Arial, Helvetica, sans-serif;
}

#content{
	width: 900px;
}

/* Header */

nav{
	background: #c5c5b2;
	padding: 1.14em;
}

nav a{
	text-decoration: none;
	color: #4b556a;
	font-size: 1.25em; 
	font-weight: bold;
	padding: 0.25em;
}

/* Main Content */

main{
	background: #e8e8d9;
	padding: 0.8em;
	text-align: justify;
}

h1{
	color: #828282;
	font-size: 1.2em;
}

main img{
	border: 10px solid #c3c3ae;
}

.contacts{
	font-weight: 700;
}

/* Footer */

footer{
	text-align: center;
	font-weight: bold;
}

