/* === GENERAL SETTINGS === */

    html,
    button,
    input,
    select,
    textarea {
    font-family: sans-serif;
    }

    body{
        background: black;
        margin: 0;
        color: white;
        font-family: Helvetica, Arial, sans-serif;
    }

    img {
        border: 0;
    }

    a {
        background: transparent;
        text-decoration: none;
    }
    a:focus {
        outline: thin dotted;
    }
    a:hover, a:active {
        outline: 0;
    }

    #content{
        margin: 0 auto;
        width: 1400px;
        /* border: 1px solid red; */

    }

    .clear{
        clear: both;
    }

/* === // GENERAL SETTINGS === */

/* === HEADER === */

    header{
        background: rgb(22, 21, 21);
        margin: 10px 10px;
        border-radius: 10px ;
        position: sticky;
        padding: 10px;
        text-align: center;
    }

    #logo{
        float: left;
        margin: 0;
    }

    header #first span, header #second span{
        display: inline-block;
        background: #555555;
        padding: 0.5em 9px 0.5em 0;
        color: #888888;
        font-weight: bold;
        margin: 0 -15px 0 0;
    }

    #first{
        margin: 1em auto;
    }

    #second{
        margin: 1em auto 0 auto;
    }

    #first a{
        padding: 14px;
        font-weight: 400;
        font-size: 18px; 
        color: white;
        padding: 10px;
        margin: 0 auto;
    }

    #second a{
        background: #555555;
        font-weight: 400;
        color: white;
        font-size: 14px;
        padding: 10px;
    }

/* === // HEADER === */

/* === MAIN CONTENT === */

    main{
        margin: 0 auto;
        /* width: 1375:px; */
    }

    /* == noticias == */

        /* #noticias{
            border: 5px solid olive;
        } */

        .noticias{
            margin: 0.5em 0.4em 0.5em 1em;
            float: left;
            color: white;
        }

        .noticias img{
            width: 329.75px;
            height: 300.75px;
        }

        .noticia_large{
            display: inline-block;
            clear: left;
            margin: 0.5em 1em 0.5em 1em;
        }

        .noticia_large img{
            width: 595.5px;
            height: 300.75px;
        }

        #external_page{
            border: 4px dotted orange;
            margin: 1em;
            float: left;
        }

        #noticia_1{
            margin: 1em 1em 0 1em;
            float: left; 
        }

        #noticia_1 img{
            width: 580.5px;
            height: 559px;
        }

        /* === BLOCO NOTICIA === */

            #bloco_div{
                color: black;
                margin: 1030.25;
                margin: 18px auto 0 auto;
                padding: 0;
                float: left;
            }

            #noticia_2{
                margin: 0 auto 0 7px;
                float: left;
            }

            #noticia_2 img{
                width: 329.75px;
                height: 300.75px;
            }

            #link-noticias{
                background: #39719e;
                text-align: justify;
                width: 20em;
                height: 17.5em;
                padding: 10px;
                margin: 0 auto 20px 17px;
                float: left;
            }

            #link-noticias a{
                color: white;
                text-align: justify;
                font-size: 10pt;
                display: block;
            }
            #link-noticias h4{
                color: white;
                text-align: justify;
                font-size: 10pt;
                display: inline;
            }

            #noticia_3{
                margin: 1em 0 0 0.4em;
            }

            #noticia_3 img{
                height: 230px;
                width: 690.5px;
            }

        /* === // BLOCO NOTICIA === */
    /* === // NOTICIAS === */
/* === // MAIN === */
